<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price, unit: "₦") %>
  </p>

  <p>
    <strong>Sales count:</strong>
    <%= product.sales_count %>
  </p>

  <% if @cart.include?(product) %>
    <%= link_to "Remove from cart", remove_from_cart_path(product), data: {"turbo-method": :delete} %>
  <% else %>
    <%= link_to "Add to cart", add_to_cart_path(product), data: {"turbo-method": :post} %>
  <% end %>
  <p>
    <strong>Sales count:</strong>
    <%= product.sales_count %>
  </p>

</div>
