<!DOCTYPE html>
<html>
  <head>
    <title>PaystackApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">

      <% if user_signed_in? %>
        <%= current_user.email %> <%= current_user.paystack_customer_id if current_user.paystack_customer_id.present? %> | 
        <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>

      <% @cart.each do |product| %>
        <%= product.name %>
      <% end %>

      <hr>

      <p class="notice m-0"><%= notice %></p>
      <p class="alert p-0"><%= alert %></p>
      <%= link_to "All Products", products_path %>
      <%= yield %>
    </div>
  </body>
</html>
